
.box {
    border-top: 2px solid #456;
    border-left: 2px solid #456;
    border-right: 2px solid #456;
    border-bottom: 2px solid #456;
    height: 40em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:#eaedef;
}

.graph_node, .window, .label, .tool {
    background-color:white;
    text-align:center;
    z-index:23;
    cursor:pointer;
	  box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
}

.graph_node, .window, .tool {
    border:1px dotted gray; 
    width:5em;
    height:3.5em;
    color:gray;
    font-family:serif;
    font-style:italic;
    padding-top:0.9em; 
    font-size:0.9em;
}

.graph_node, .window {
    position:absolute;
}

.tool {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

path, ._jsPlumb_endpoint { cursor:pointer; }

/* z index stuff */
._jsPlumb_connector { z-index:18; }
._jsPlumb_endpoint { z-index:19; }
._jsPlumb_overlay { z-index:23; }

._jsPlumb_connector._jsPlumb_hover {
    z-index:21 !important;
}

._jsPlumb_endpoint._jsPlumb_hover {
    z-index:22 !important;
}

._jsPlumb_overlay {
  border:1px solid #346789; 
  opacity:0.8; 
  filter:alpha(opacity=80);
  background-color:white;
  color:black;
  font-family:helvetica;
  padding:0.5em; 
}

/* Responsive graph 
   If screen is small, do not allow to modify the screen 
   If screen large enough, we could display tools to modify the graph */
.tool_box {
  display: none;
}
.graph_box {
  width: 100%;
}
@media all and (min-width: 50em) {
  .tool_box {
    float: left;
    width: 18.9%;
    display: inherit;
  }
  .graph_box {
    float: right;
    width: 78.9%;
  }
}

/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.overthrow-enabled #some_text {
    height: 5em;
}
.overthrow-enabled #graph {
    height: 40em;
}
